<nav class="navbar navbar-default" role="navigation">

    <div class="collapse navbar-collapse navbar-ex1-collapse " style="padding:10px ">
        <img src="../../assets/imagenes/encabezado/Logo.jpeg" alt="" width="180px" height="50px" style="margin-left: 25px;
        margin-right: 25px;">
        <button style="margin-left: 42%;" mat-button routerLink="inicio">Inicio</button>
        <button mat-button routerLink="proyectos">Proyectos</button>
        <button mat-button routerLink="empleados">Empleados</button>
        <button mat-button routerLink="iniciosesion">Inicio de sesión</button>
        <a href=" " title="Instagram ">
            <img src="../../assets/imagenes/encabezado/insta.png " height="40px " style="margin-left: 22px; ">
        </a>
        <a href=" " title="Facebook ">
            <img src="../../assets/imagenes/encabezado/face.png " height="40px ">
        </a>
        <a href=" " title="Twitter ">
            <img src="../../assets/imagenes/encabezado/tw.png " height="40px ">
        </a>
    </div>


</nav>