<footer id="footer">
    <div class="container"><br><br>
        <div class="container">
            <div class="row">
                <section class="col-sm-6">
                    <h3>Equipo de MARKETING</h3>
                    <div class="copyright" style="font-size: 14px;">
                        <strong><span>MKTEAM</span></strong>. Todos los derechos reservados 2021
                    </div>
                </section>

                <section class="col-sm-3">
                </section>

                <section class="col-sm-3" id="diseño">
                    <p> <img src="../../assets/imagenes/footer/ubicacion.png" alt=""> Miguel Lerdo de Tejada 2112
                        <br>Colonia Americana, 44160
                        <br>Guadalajara, Jal.<br>
                        <strong><img src="../../assets/imagenes/footer/cel.png" alt=""></strong> (52)<br>
                        <strong><img src="../../assets/imagenes/footer/email.png" alt=""></strong> @gmail.com
                        <br>
                    </p>
                </section>
            </div>
        </div>
    </div>