<div id="contenedor">
    <section>
        <h1><strong>Lista de empleados</strong> </h1><br>
        <div align="right">
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="../../assets/imagenes/empleados/agregar.gif" alt="" width="40px" height="40px"></button>

        </div>
        <table class="table table-hover " cellpadding="0 " cellspacing="0 ">
            <thead>
                <tr>
                    <th scope="col ">Nombre</th>
                    <th scope="col ">Apellidos</th>
                    <th scope="col ">Fecha de nacimiento</th>
                    <th scope="col ">Puesto</th>
                    <th scope="col ">Fecha de ingreso</th>
                    <th scope="col ">Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto Ríos</td>
                    <td>24/05/1990</td>
                    <td>Diseñador</td>
                    <td>20/05/2020</td>
                    <td>Mark</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                    <td>Marin Thornton</td>
                    <td>24/05/1990</td>
                    <td>Audio Visual</td>
                    <td>20/05/2021</td>
                    <td>Jack</td>
                </tr>
                <tr>
                    <td>Larry</td>
                    <td>Ríos Ríos</td>
                    <td>04/10/1990</td>
                    <td>TIC´s</td>
                    <td>17/01/2021</td>
                    <td>Larry</td>
                </tr>
                <tr>
                    <td>Mauricio</td>
                    <td>Ríos Cruz</td>
                    <td>04/10/1990</td>
                    <td>TIC´s</td>
                    <td>21/12/2020</td>
                    <td>Larry</td>
                </tr>
                <tr>
                    <td>Omar</td>
                    <td>Fuentes Ríos</td>
                    <td>01/12/1999</td>
                    <td>Desarrollador</td>
                    <td>06/03/2021</td>
                    <td>Omar</td>
                </tr>
                <tr>
                    <td>Fernanda</td>
                    <td>Cruz Escobar</td>
                    <td>19/07/2000</td>
                    <td>Fotografía</td>
                    <td>10/11/2020</td>
                    <td>Fer</td>
                </tr>
        </table>

        <div class="tbl-header ">
            <table cellpadding="0 " cellspacing="0 ">
                <thead>
                    <tr>
                        <th scope="col ">Nombre</th>
                        <th scope="col ">Apellidos</th>
                        <th scope="col ">Fecha de nacimiento</th>
                        <th scope="col ">Puesto</th>
                        <th scope="col ">Fecha de ingreso</th>
                        <th scope="col ">Usuario</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content ">
            <table cellpadding="0 " cellspacing="0 ">
                <tbody>
                    <tr>
                        <td>Mark</td>
                        <td>Otto Ríos</td>
                        <td>24/05/1990</td>
                        <td>Diseñador</td>
                        <td>20/05/2020</td>
                        <td>Mark</td>
                    </tr>
                    <tr>
                        <td>Jacob</td>
                        <td>Marin Thornton</td>
                        <td>24/05/1990</td>
                        <td>Audio Visual</td>
                        <td>20/05/2021</td>
                        <td>Jack</td>
                    </tr>
                    <tr>
                        <td>Larry</td>
                        <td>Ríos Ríos</td>
                        <td>04/10/1990</td>
                        <td>TIC´s</td>
                        <td>17/01/2021</td>
                        <td>Larry</td>
                    </tr>
                    <tr>
                        <td>Mauricio</td>
                        <td>Ríos Cruz</td>
                        <td>04/10/1990</td>
                        <td>TIC´s</td>
                        <td>21/12/2020</td>
                        <td>Larry</td>
                    </tr>
                    <tr>
                        <td>Omar</td>
                        <td>Fuentes Ríos</td>
                        <td>01/12/1999</td>
                        <td>Desarrollador</td>
                        <td>06/03/2021</td>
                        <td>Omar</td>
                    </tr>
                    <tr>
                        <td>Fernanda</td>
                        <td>Cruz Escobar</td>
                        <td>19/07/2000</td>
                        <td>Fotografía</td>
                        <td>10/11/2020</td>
                        <td>Fer</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </section>
</div>

<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> <br><br><br><br><br><br><br><br><br>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Registro de empleados</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>

                    <label for='nombre'>Nombre</label>
                    <input type="text" id='nombre' name='nombre' data-error-message="El nombre es requerido" class='form-control'>

                    <label for='apellidos'>Apellidos</label>
                    <input type="text" id='apellidos' name='apellidos' data-error-message="Los apellidos son requeridos" class='form-control'>

                    <label for='fechaNac'>Fecha de nacimiento</label>
                    <input type="date" id='fechaNac' name='fechaNac' data-required="true" data-error-message="La fecha es requerida" class='form-control'>

                    <label for='puesto'>Puesto</label>
                    <select id='puesto' class="form-control selectpicker show-tick" size="1" name='puesto'>
                                <option value="Diseñador">Diseñador</option>
                                <option value="Audio Visual">Audio Visual</option>
                                <option value="Administrador">Administrador</option>
                                <option value="Gerente de departamento">Gerente de departamento</option>
                    </select>

                    <label for='fechaIng'>Fecha de ingreso</label>
                    <input type="date" id='fechaIng' name='fechaIng' data-required="true" data-error-message="La fecha es requerida" class='form-control'>

                    <label for='usuario'>Usuario</label>
                    <input type="text" id='usuario' data-required="true" name='usuario' data-error-message="El número de personas es requerido" class='form-control'>

                    <label for='contraseña'>Contraseña</label>
                    <input type="password" id='contraseña' data-required="true" name='contraseña' data-error-message="El correo es requerido" class='form-control'>

                </form>

                <div class="modal-footer">
                    <div class="input-group">
                        <button class="btn btn-outline-secondary" type="button">Guardar</button>
                        <button class="btn btn-outline-secondary" type="button">Buscar</button>
                        <button class="btn btn-outline-secondary" type="button" data-bs-dismiss="modal" aria-label="Close">Modificar</button>
                        <button class="btn btn-outline-secondary" type="button" data-bs-dismiss="modal" aria-label="Close">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>